*{
    margin: 0;
    padding: 0;
} 


body{
    display: flex;
    background-color: #0aad2d;
    align-items: center;
    justify-content: center;
    
}




.quiz {
    display: flex;
    margin-top: 15%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color:#87CEEB;
    color:rgb(6, 6, 6);
    width: 400px;
    border-radius: 10px;

    font-family: 'Franklin Gothic Medium';

}

button {
    background-color: #2ddd7c ;

    width: 90%;
    height: 30px;
    border-radius: 5px;
    border:none;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover {
    background-color: #27ae60;
}

.quiz > #question {
    padding-bottom: 15px;
    padding-top: 5px;
}


.explaination{
    margin-top: 15%;
    display: none;
    height: 250px;
    width: 400px;
    background-color:#87CEEB ;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium';
}

.explaination *{
    margin-top: 5%;
    margin-left: 10px;
}

.explaination button {
    width: 25%;

    margin-top: 80px;
    margin-left: 37% ;
}


.playerInfo {
    position: fixed;
    top: 0;
    right: 0;

    width: 30%;
    margin-top: 1%;
    margin-left: 1%;

    font-family: 'Franklin Gothic Medium';
    font-size: large;
}

.playerInfo > ul > li {
    width: 70%;
}


.holder {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: white;

    margin-top: 20%;
}